
nav {
  background-color: #8f4600;
  position: fixed;
  top: 20vh;
  left: 5vw;
  height: 10vh;
  width: 90vw;
  border-radius: 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header {
  position: fixed;
  top: 5vh;
  left: 0;
  height: 10vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center; /* centers vertically */
  background-color: rgba(143, 70, 0, 0.9); 
}

.header__title {
  font-size: 2.5rem; 
  color: #ffdfbf;
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 3px;
  text-align: center;
  margin: 0;
}


body{
    background-color: #ffdfbf ;
}

footer{
    background-color: rgba(143, 70, 0, 0.8);
    position: fixed;
    bottom: 0;
    left: 0;
    height: 10vh;
    width: 100vw;
}

.nav-button{
    margin: auto;
    border: none;
    background-color: #ffdfbf;
    border-radius: 25px;
    height: 5vh;
    width: 10vh;
    color: #8f4600;
    font-weight: 600;
    transition: all 0.3s ease;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-button:hover {
  background-color: #ffd2a0;
  transform: scale(1.05);
}

/* Responsiveness */
@media (max-width: 992px) {
  .header__title {
    font-size: 1.8rem;
  }

  .nav-button {
    height: 4.5vh;
    width: 9vh;
    font-size: 0.95rem;
  }
}

@media (max-width: 768px) {

  .header__title {
    font-size: 1.5rem;
  }
  .nav-button {
    height: 5vh;
    width: 18vw; 
    font-size: 0.9rem;
  }
}

@media (max-width: 576px) {

  .header__title {
    font-size: 1.2rem;
  }

    .nav-button {
    height: 6vh;
    width: 28vw; 
    font-size: 0.85rem;
  }
}



