body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F0E491;
} 

 header{
    background-color: #4CAF50;
    color: white;
    padding: 1rem;
    text-align: center;
}

header input{
    margin-top: 10px;
    padding: 8px;
    width: 60%;
    max-width: 400px;
    border-radius: 5px;
    border: none;
}

.filters{
    text-align: center;
    margin: 1rem 0;
}

.filters button {
    padding:8px 15px;
    margin:0 5px ;
    border: none;
    background-color:#4CAF50 ;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
.filters button:hover{
    background-color: #45a049;
}

/* .recipe-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 1rem;
}

.recipe-card{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    width: 250px;
    padding: 1rem;
    text-align: center;
}

.recipe-card img{
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

.recipe-card ul{
    list-style: none;
    padding: 0;
    margin: 10px 0 0 0;
    font-size: 0.9rem;
} */
@media (max-width: 992px) {
  .header__title {
    font-size: 1.8rem;
  }

  .nav-button {
    font-size: 0.95rem;
  }
}

@media (max-width: 768px) {

  .header__title {
    font-size: 1.5rem;
  }
  .nav-button {
    height: 5vh;
    width: 18vw; 
    font-size: 0.9rem;
  }
}

@media (max-width: 576px) {

  .header__title {
    font-size: 1.2rem;
  }

    .nav-button {
    height: 6vh;
    width: 28vw; 
    font-size: 0.85rem;
  }
}
                    /* this is the beginning of Nutritional tips */
.content {
  max-width: 900px;
  margin: 2rem auto;
  padding: 0 1rem;
}
section {
  background: #fff;
  margin-bottom: 2rem;
  padding: 2rem;
  border-radius: 16px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
}
.seasonal_tips {
    width: 200px;
    height: 300px;
    display: flex;
    justify-content: center
    ;
} 
.tips_info  {
  background: #fff;
  margin-bottom: 2rem;
  padding: 2rem;
  border-radius: 16px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
}



.canned_fruitsvegtables {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}
.protein_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.main_image_container {
  max-width: 900px;
  margin: 40px auto;
  background-color: #fff;
  padding: 15px;
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}
.firstimage img {
  width: 100%;
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  margin-bottom: 2rem;
  object-fit: cover;
}
.canned_fruitsvegtables img {
    max-width: 900px;
  margin: 40px auto;
  background-color: #fff;
  padding: 15px;
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}
img.kidney_beans  {
  width: 100%;
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  margin-bottom: 2rem;
  object-fit: cover;
}
.Pear {
  width: 100%;
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  margin-bottom: 2rem;
  object-fit: cover;
}
.title {
  color: #2c5f2d;
  margin-bottom: 1rem;
  text-align: center;
}

h2, h3 {
  color: #2c5f2d;
  margin-bottom: 1rem;
  text-align: center;
}
p, h2, h3 {
  text-align: center;
  line-height: 1.6;
}
                    /*this is the end of my nutritiioin tips*/