body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header{
    background-color: #4CAF50;
    color: white;
    padding: 1rem;
    text-align: center;
}

header input{
    margin-top: 10px;
    padding: 8px;
    width: 60%;
    max-width: 400px;
    border-radius: 5px;
    border: none;
}

.filters{
    text-align: center;
    margin: 1rem 0;
}

.filters button {
    padding:8px 15px;
    margin:0 5px ;
    border: none;
    background-color:#4CAF50 ;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
.filters button:hover{
    background-color: #45a049;
}

.recipe-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 1rem;
}

.recipe-card{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    width: 250px;
    padding: 1rem;
    text-align: center;
}

.recipe-card img{
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

.recipe-card ul{
    list-style: none;
    padding: 0;
    margin: 10px 0 0 0;
    font-size: 0.9rem;
}