body{
 font-family:Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

h1{
    text-align: center;
    font-size: 40px;
    color: black; 
    margin-bottom: auto;
}


header input{
    margin-top: 10px;
    padding: 8px;
    width: 60%;
    max-width: 400px;
    border-radius: 5px;
    border: none;
}
.filters{
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
    gap: 10px;
    margin: 1rem 0;
}
.filters button {
    padding:8px 15px;
    margin:0 5px ;
    border: none;
    background-color: lightgreen;
    color: black;
    border-radius: 5px;
    cursor: pointer;
    }
.filters button:hover{
    background-color: #45a049;
}

.recipe-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 40px auto;
    max-width: 1200px;
}

.recipe-card{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    width: 250px;
    padding: 1rem;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3 ease;
}

.recipe-card img{
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

.recipe-card ul{
    list-style: none;
    padding: 0;
    margin: 10px 0 0 0;
    font-size: 0.9rem;
}
 
.recipe-card:hover{
    transform: translateY(-8px) scale(1.03); /* this adds the pop up effect*/
    box-shadow: 0 8px 20px rgba(0,0,0,0.2); /*this adds the glow and shadow effect*/
}



/* back to the top button styling*/
#backToTop{
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #2b6cb0;
    color:white;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 0.9rem;
    display:none;

}

#backToTop:hover{
    background-color: #1e4e8c;
}




