
nav {
  position: relative;
  top: 0;
  right: 0;
  height: 7vh;
  width: 100vw;
  display: flex;
  align-items: center;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  height: 10vh;
  width: 100vw;
  display: flex;
  border-radius: 25px;
  justify-content: center;
  align-items: center; 
  background-color: #BBC863; 
  z-index: 1;
}

.nav-logo{
  position: relative;
  height: 5vh;
  width: 60px;
  z-index: 2;
  left: calc(100% - 75px); 
}

.nav-logo:hover {
  transform: scale(1.08);
}


.header__title {
  font-size: 2.5rem; 
  color: #658C58;
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 3px;
  text-align: center;
  margin: 0;
}


body{
    background-color: #F0E491 ;
}

footer{
    background-color: #BBC863;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 25px;
}

.link-group{
  display: flex;
  justify-content: space-around;
  gap: 10px;
  align-items: center;
  color: #F0E491;
  margin: auto;
}

.footer-link{
  color: #658C58;
}


.footer-link:hover{
  text-decoration: underline;
}

/* Responsiveness */
@media (max-width: 992px) {

  .footer-link-words{
    font-size: 1.8rem;
  }

  .header__title {
    font-size: 1.8rem;
  }

}

@media (max-width: 768px) {

  .footer-link-words{
    font-size: 1.5rem;
  }

  .header__title {
    font-size: 1.5rem;
  }
}

@media (max-width: 576px) {

  .footer-link-words{
    font-size: 1.2rem;
  }

  .header__title {
    font-size: 1.2rem;
  }
}



