
.homepage {
  text-align: center;
  padding: 15vh 20px;
  overflow: hidden;
  width: 100vw;
}

.homepage-images {
    width: 50vw;
    height: 30vh;
    border-radius: 25px;
    margin: 20px 10px;
}


.slider-track {
  display: inline-flex;
  animation: scroll 75s linear infinite;
}

.slider-track:hover{
  animation-play-state: paused; 
}


@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.headline-section h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.subheading-section h4 {
  font-size: 1.75rem;
  margin-bottom: 10px;
}

.subheading-section h5 {
  font-size: 1.25rem;
  line-height: 2;
  max-width: 600px;
  margin: 40px auto;
}


.headshot{
  border-radius:  20px;
  width: 15vw ;
  height: 15vw ;
  margin: 10px 2vw;
}

/* Responsiveness */

@media (max-width: 768px) {

  .headshot{
    width: 28vw;
    height: 28vw;
  }

}

@media (max-width: 576px) {

  .headshot{
    width: 60vw;
    height: 60vw;
  }

}


