
.homepage {
  padding: 10vh 20px;
  overflow: hidden;
  width: 100vw;
}

.homepage-images {
    width: 50vw;
    height: 30vh;
    border-radius: 25px;
    margin: 20px 10px;
}


.slider-track {
  display: inline-flex;
  animation: scroll 75s linear infinite;
}

.slider-track:hover{
  animation-play-state: paused; 
}


@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.right-text h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.right-text h4 {
  font-size: 1.75rem;
  margin-bottom: 10px;
}

.right-text h5 {
  font-size: 1.25rem;
  line-height: 2;
  max-width: 600px;
  margin: 40px auto;
}

.highlights{
  text-decoration: underline;
}

.main-content{
  display: flex;
  justify-content: space-between;
  width: 80vw;
  margin: auto;
}

.left-content{
   width: 50%;
   display: table-column;
   margin-right: 10vw;
}

.right-content{
   width: 50%;
   display: table-column;
   text-align: center;
}

ul {
  background: rgb(101, 140, 88);
  padding: 20px;
  border-radius: 25px;
}

ul li {
  padding: 10px;
  margin-left: 20px;
}
.list-container{
  background: lightgreen;
  border-radius: 25px;
}

/* Responsiveness */

@media (max-width: 768px) {

  .headshot{
    width: 28vw;
    height: 28vw;
  }

}

@media (max-width: 576px) {

  .headshot{
    width: 60vw;
    height: 60vw;
  }

}


