.main-content{
    margin-top: 12.5vh;
    margin-bottom: 12vh;
}

summary:hover {
  color:#4CAF50;
  background-color: #2c5f2d;
  border-radius: 16px;
}
summary {
  cursor: pointer;
}

.content, section {

  max-width: 900px; 
  margin: 2rem auto;
  padding: 0 1rem; 
}
section { 
  background: #fff;
  margin-bottom: 2rem;
  padding: 2rem;
  border-radius: 16px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
}
.seasonal_tips {
    width: 200px;
    height: 300px;
    display: flex;
    justify-content: center
    ;
} 
.tips_info  {
  background: #fff;
  margin-bottom: 2rem;
  padding: 2rem;
  border-radius: 16px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
}



.canned_fruitsvegtables {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}
.protein_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.main_image_container {
  max-width: 900px;
  margin: 40px auto;
  background-color: #fff;
  padding: 15px;
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}
.firstimage img {
  width: 100%;
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  margin-bottom: 2rem;
  margin-top: 10vh;
  object-fit: cover;
}
.last-section{
margin-bottom: 10vh;
}

.canned_fruitsvegtables img {
  max-width: 900px;
  margin: 40px auto;
  background-color: #fff;
  padding: 15px;
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}
.kidney_beans  {
  width: 45%;
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  margin-bottom: 2rem;
  object-fit: cover;
}
.Pear {
  width: 45%;
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  margin-bottom: 2rem;
  object-fit: cover;
}
.water_glass {
   width: 10%;
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  margin-bottom: 2rem;
  object-fit: cover;
}
.title {
  color: #2c5f2d;
  margin-bottom: 1rem;
  text-align: center;
}

h2, h3 {
  color: #2c5f2d;
  margin-bottom: 1rem;
  text-align: center;
}
p, h2, h3 {
  text-align: center;
  line-height: 1.6;
}

#backToTop{
    position: relative;
    bottom: 20px;
    left:  90%;
    background-color: #658C58;;
    color:white;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 0.9rem;
    display:none;
}

#backToTop:hover{
    transform: scale(1.08);
}
                    /*this is the end of my nutrition tips*/